<!DOCTYPE html>
<html>
  <head>
    <title>LLM Transmute Test</title>
  </head>
  <body>
    <h1>LLM Transmute Test</h1>
    <p>
      The server is:
      <span
        style="font-weight: bold"
        hx-get="/healthcheck"
        hx-trigger="load"
      ></span>
    </p>

    <form>
      <textarea id="llm-input" name="input"></textarea>
      <button
        id="llm-submit"
        hx-post="/llm"
        hx-target="#llm-output"
        hx-swap="afterbegin"
      >
        Get LLM Result
      </button>
    </form>

    <div id="llm-output"></div>

    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>
  </body>
</html>
