<!DOCTYPE html>
<html>

<head>
  <title>LLM Transmute Test</title>
  <style>
    #llm-submit-label {
      display: inline;
    }

    #llm-submit-indicator {
      display: none;
    }

    .htmx-request>#llm-submit-label {
      display: none;
    }

    .htmx-request>#llm-submit-indicator {
      display: inline;
    }
  </style>
</head>

<body>
  <h1 class="m-4 font-semibold">LLM Transmute Test</h1>

  {% block form %} {% include 'fragments/form.html' %} {% endblock %}

  <div id="llm-results" class="m-4 flex flex-col gap-3">
    <ul class="p-3 bg-zinc-100 rounded-lg">
      <li class="mb-1"><span class="text-teal-700"><span class="font-semibold">Input:</span>
          What is the
          largest ocean?</span></li>
      <li><span class="font-semibold">llama:</span> The Pacific.</li>
    </ul>
  </div>

  <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>